.equipmentContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}


.equipmentImg {
    width: 200px;
    cursor: pointer;
    justify-content: center;
}

.equipmentDetails {
    text-align: center;
}

.equipmentQuantity {
    width: 100px;
    text-align: center;
}